.heap-window {
  background-color: black;
  border: solid 1px white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position: absolute !important;
}

.heap-window-title-bar {
  height: 26px;
  padding: 2px 4px;
  border-bottom: solid 1px white;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.heap-window-title-icon {
  width: auto;
  height: 100%;
  padding: 3px;
  padding-right: 7px;
}

.heap-window-title-title {
  padding-right: 30px;
  flex: 1;
}

.heap-window-title-buttons > * {
  height: 12px;
  width: auto;
  fill: white;
  transition: all 0.2s;
}

.heap-window-title-buttons > *:hover {
  cursor: pointer;
}

.heap-window-title-buttons-close:hover {
  fill: red;
}

.heap-window-control {
}

.heap-window-control-dropdown {
  cursor: default;
  display: inline-block;
  background-color: black;
}

.heap-window-control-dropdown-title {
  padding: 2px 5px;
}

.heap-window-control-dropdown-title:hover {
  color: black;
  background-color: white;
}

.heap-window-control-dropdown-list {
  background-color: rgb(68, 68, 68);
  position: absolute;
}

.heap-window-control-button {
  cursor: default;
  padding: 2px 5px;
}

.heap-window-control-button:hover {
  color: black;
  background-color: white;
}

.heap-window-body {
  flex: 1;
}
