.heap-window {
  background-color: black;
  border: solid 1px white;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
}

.heap-window-title-bar {
  padding: 2px 4px;
  border-bottom: solid 1px white;
  user-select: none;
}
