.internet {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.internet-window-title {
    box-sizing: border-box;
    margin: 2px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px white;
    padding-left: 2px;
    margin: 0;
    padding-top: 2.5px;
    padding-bottom: 2px;
}

.internet-window-title>input {
    margin-right: 10px;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    border: 0;
}

.internet-window-title>* {
    display: inline-block;
}

.internet-window-title-buttons-left {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    height: 100%;
    margin-left: 2px;
}

.internet-window-title-buttons-right {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 100%;
    margin-left: 3px;
}

.internet-window-title-buttons-left>svg, .internet-window-title-buttons-right>svg {
    padding: 2.5px;
    border-radius: 2px;
}

.internet-window-title-buttons-left>*:hover, .internet-window-title-buttons-right>*:hover {
    fill: black !important;
    background-color: white !important;
}

.internet-window-title-buttons-left>*, .internet-window-title-buttons-right>* {
    width: 100%;
    height: 100%;
    width: auto;
    fill: white;
    transition: all 0.2s;
}

.internet-window-title-buttons-left>*:hover, .internet-window-title-buttons-right>*:hover {
    cursor: pointer;
}

.internet-window-content {
    cursor: default;
    height: 100%;
    background-color: white;
    margin: 3px;
}

.internet-window-title-buttons-left, .internet-window-title-buttons-right {
    margin-left: 4px;
}

.internet-window-title-buttons-connect {
    margin-left: 3px;
}

.internet-window-title-buttons-connect:focus {
    fill: blue;
}