.memory-map {
  border-collapse: collapse;
}

.memory-map td, .memory-map th {
  padding: 4px;
  text-align: center;
}

.memory-map-row td {
  cursor: pointer;
}

.memory-map-row td:hover {
  background-color: white;
  color: black;
}
