@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

main {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
